<div id= "page-content">
  <div class="custom-jumbotron rounded-lg m-3 text-center text-white" style="padding-top: 20px;">
    <h1 class="display-4">Hello, capybara enthusiasts!</h1>
    <p class="lead">This is a simple blog for those who love all things carpincho.</p>
    <hr class="my-4">
    <p>Little line saying more things about how capys are just fantastic and love watermelon.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Capy Blog</small>
  </div>
</footer>