
.navbar {
  background-color: darkcyan !important;
  }

.nav-link {
  color: whitesmoke !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.custom-jumbotron {
  height: 425px;
  background-image: asset-url('capy-pic.jpg'); /* Use asset-url() to specify the image file path */
  background-size: cover; /* This will make the image cover the entire jumbotron */
  background-position: center 15%; /* Center the image both vertically and horizontally */
  background-repeat: no-repeat;
}

.custom-jumbotron h1 {
  font-size: 5rem; /* Adjust the font size to your preference */
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

body {
  flex-shrink: none;
  background: lightcyan
}

