<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Capymusic &copy; <%= link_to "Slow Jazz Playlist", "https://www.youtube.com/watch?v=g5c2Q3A2lc4", class: "text-white" %></small>
  </div>
</footer>